{% extends 'employees\employee_base.html' %}

{% block title %} View Pickups {% endblock %}

{% block header %} Weekday to view: {% endblock %}

{% block content %}

<form action="{% url 'employees:day_filter' %}" method="post">
    {% csrf_token %}
    <select name="day" id="day">
        <option>Sunday</option>
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>Saturday</option>
      </select>

    <input type="submit" value="View Day">
</form>

<a href="{% url 'employees:index' %}">Home</a>

{% endblock %}