{% extends 'employees\employee_base.html' %}

{% block title %} View Pickups {% endblock %}

{% block header %} Weekday to view: {% endblock %}

{% block content %}

<div class="dropdown">
  <form action="{% url 'employees:day_filter' %}" method="post">
      {% csrf_token %}
      <select name="day" id="day">
          <option value="None" selected disabled hidden>Select Weekday</option>
          <option>Sunday</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
        </select>

      <button type="submit" value="Submit" class="btn btn-outline-light">View Day</button>
  </form>
</div>
<br>


<h1>{{day}}</h1>

    <ul>
      {% for customer in customer_day_pickup %}
      <h4><li>{{customer.name}}</li></h4>
      {% endfor %}
    </ul>

    <a href="{% url 'employees:index' %}" class="btn btn-outline-light">Home</a>

{% endblock %}