{% extends 'employees\employee_base.html' %}

{% block title %}
{% block header %} Welcome To The Employee Portal: {{logged_in_employee.name}} {% endblock %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <table class="table">
      <h3> Today is
        <script type="text/javascript">
          var myDate = new Date();
          var myDay = myDate.getDay();     
          var weekday = ['Sunday', 'Monday', 'Tuesday',
              'Wednesday', 'Thursday', 'Friday', 'Saturday'];
          document.write(weekday[myDay]);
        </script>. Here are the scheduled pickups:
      </h3>

        <thead>
          <div class="table_header">
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Confirm Pickup</th>
                <th scope="col">Address</th>
            </tr>
          </div>
        </thead>
          <tbody>
              {% for customer in customer_weekday_pickup %}
              <tr>            
                <th scope="row">{{customer.name}}</th>
                <td><a href="{% url 'employees:pickup_confirm' customer.id %}" class="btn btn-outline-light" target="popup" onClick="window.open('{% url 'employees:pickup_confirm' customer.id %}','popup','width=500, height=400, top=500')">
                      Confirm Pickup</a></td>
                <td><a href="{% url 'employees:customer_address' customer.id %}" class="btn btn-outline-light">View Address</a></td> 
              </tr>          
              {% endfor %}
          </tbody>
    </table>
    <table class="table">
      <h3>Customers scheduled for A one time pickup Today:</h3>
        <thead>
          <div class="table_header">
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Confirm Pickup</th>
                <th scope="col">Address</th>
            </tr>
          </div>
        </thead>
          <tbody>
            {% for customer in customer_onetime_pickup %}
              <tr>            
                <th scope="row">{{customer.name}}</th>
                <td><a href="{% url 'employees:pickup_confirm' customer.id %}" class="btn btn-outline-light" target="popup" onClick="window.open('{% url 'employees:pickup_confirm' customer.id %}','popup','width=500, height=400, top=500')">
                      Confirm Pickup</a></td>
                <td><a href="{% url 'employees:customer_address' customer.id %}" class="btn btn-outline-light">View Address</a></td> 
              </tr>          
              {% endfor %}
          </tbody>
    </table> 
     
</div>


<div class="lol">
  NOW GET TO WORK!
</div>

<div class="row">
  <div id="map" style="width: 500px; height: 400px;"></div>
  
  <script type="text/javascript">
    var locations = {{customer_addresses|safe}};
    console.log(locations)

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng(42.97181286683933, -88.01547525330066),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
        var infowindow = new google.maps.InfoWindow();
    
        var marker, i;
        
        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });
          
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }

  </script>
</div>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}

{% endblock %}