{% extends 'employees\employee_base.html' %}

{% block title %}
{% block header %} Employee Home: {{user.username}} {% endblock %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
      <div class="row">
        <table class="center-table">
          <thead>
            <th> Customer with weekly pickup today</th>
            <tr>
                  <th>Customer name</th><th>Confirm Pickup</th><th>Address</th>
              </tr>
          </thead>
          <tbody>
            {% for customer in customer_weekday_pickup %}
            <tr>
                  <td>{{customer.name}}</td>
                  <td>
                    <a href="{% url 'employees:pickup_confirm' customer.id %}" class="btn btn-outline-light" target="popup" onClick="window.open('{% url 'employees:pickup_confirm' customer.id %}','popup','width=500, height=400, top=500')">
                    Confirm Pickup</a></td>
                  <td> <a href="{% url 'employees:customer_address' customer.id %}" class="btn btn-outline-light">View Address</a></td>
                  {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="row">
        <table class="center-table">
          <thead>
            <th> Customer with one-time pickup today</th>
            <tr>
                  <th>Customer name</th><th>Confirm Pickup</th><th>Address</th>
              </tr>
          </thead>
          <tbody>
            {% for customer in customer_onetime_pickup %}
            <tr>
                <td>{{customer.name}}</td>
                <td>
                  <a href="{% url 'employees:pickup_confirm' customer.id %}" class="btn btn-outline-light" target="popup" onClick="window.open('{% url 'employees:pickup_confirm' customer.id %}','popup','width=400, height=150, top=500')">
                    Confirm Pickup</a></td>
                <td><a href="{% url 'employees:customer_address' customer.id %}" class="btn btn-outline-light">View Address</a></td>
                {% endfor %}
            </tr>
          </tbody>
      </table>
    </div>
  <div>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}

{% endblock %}