{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!
    <br>
    <h1>Customers with weekday pickup today:</h1>
    <ul>
      {% for customer in customer_weekday_pickup %}
      <li>{{customer.name}}<a href="{% url 'employees:pickup_confirm' customer.id %}">Confirm Pickup</a></li>
      {% endfor %}
    </ul>

    <h1>Customers with one-time pickup today:</h1>
    <ul>
      {% for customer in customer_onetime_pickup %}
      <li>{{customer.name}}<a href="{% url 'employees:pickup_confirm' customer.id %}">Confirm Pickup</a></li>
      {% endfor %}
    </ul>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}