<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="TBD">
    <meta name="discription" content="devCodeCamp group Trash Collection Project">
    <meta name="authors" content="Brett Johnson, Audrey Schmidt, & Tyler Pavlic">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_styles.css' %}">
    <link rel="shortcut icon" type="image.png" href="\static\images\TrashCan.png">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUTH1JPHH82s6RwEXGyPT0UdnVh_KTDhw"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>

{% block content %}
{% if user.is_authenticated %}
    <br>
    <h1>Trash For <strong>{{customer_pickup.name}}</strong> Has Been Picked Up?</h1>
    <form action ="{% url 'employees:pickup_confirm' customer_pickup.id %}" method="post">
        {% csrf_token %}
        <button type="submit" value="Yes" name="confirm" id="confirm" class="btn btn-outline-light">Confirm</button>
        <!--<input class="btn btn-danger button center" type="submit" value="Yes" name="confirm" id='confirm'>-->
        <!-- adding space between yes and cancel -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" value="No" name="cancel" id="cancel" class="btn btn-outline-light">Cancel</button>
        <!--<input class="btn btn-danger button center" type="submit" value="No" name="cancel" id='cancel'>-->
    </form>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}