body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.534)), url(/static/images/jilbert-ebrahimi-b0p818k8Ok8-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
}

ul {
    list-style-type: none;
}

h1 {
    color: crimson;
}

p {
    color: crimson;
}

.col-8, #text {
    color: white;
}

.col-8, th {
    text-align: center;
}