body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.534)), url(/static/images/jilbert-ebrahimi-b0p818k8Ok8-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

ul {
    list-style-type: none;
}

h1 {
    color: cornsilk;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 40%;
    background-color: cornsilk;
}

th {
    background-color: cornsilk;
}

td {
    background-color: #bebdbd;
}
  
th, td {
    padding: 15px;
}